# Firebase Configuration for Vercel Deployment & Local Dev
VITE_FIREBASE_API_KEY="AIzaSyAtpBRAM63FCgK6poFeM2mN27Bgh85dRzk"
VITE_FIREBASE_AUTH_DOMAIN="indianfullxx.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="indianfullxx"
VITE_FIREBASE_STORAGE_BUCKET="indianfullxx.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="924693101684"
VITE_FIREBASE_APP_ID="1:924693101684:web:9de01f74a13d2bc71da521"
VITE_FIREBASE_MEASUREMENT_ID="G-9S20NK62DJ"
